<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('neobe.ico') }}" />
    {% block stylesheets %}
    <!-- Bootstrap core CSS-->
    <link href="{{ asset('/common/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{{ asset('/common/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="{{ asset('/common/css/default.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/admin/css/admin.css') }}" rel="stylesheet">
    {% endblock %}
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
{% set current_route = app.request.attributes.get('_route') %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" id="logo"  href="{{ path('admin_index') }}">
        <img src="{{ asset('/admin/img/logo-neobe.jpg') }}" alt="logo" title="logo">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="{{ 'menu.dashboard'|trans({},'label', 'fr') }}">
                <a class="nav-link" href="{{ path('admin_index') }}">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">{{ 'menu.dashboard'|trans({},'label', 'fr') }}</span>
                </a>
            </li>
            <li class="nav-item {% if current_route starts with 'admin_partner' %}active{% endif %}" data-toggle="tooltip" data-placement="right" title="{{ 'menu.partners'|trans({},'label', 'fr') }}">
                <a class="nav-link" href="{{ path('admin_partner_index') }}">
                    <i class="fa fa-fw fa-user-secret"></i>
                    <span class="nav-link-text">{{ 'menu.partners'|trans({},'label', 'fr') }}</span>
                </a>
            </li>
            <li class="nav-item {% if current_route starts with 'admin_notif' %}active{% endif %}" data-toggle="tooltip" data-placement="right" title="{{ 'menu.contents'|trans({},'label', 'fr') }}">
                <a class="nav-link nav-link-collapse {% if current_route starts with 'admin_notif' %}{% endif %}" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-cogs"></i>
                    <span class="nav-link-text">{{ 'menu.contents'|trans({},'label', 'fr') }}</span>
                </a>
                <ul class="sidenav-second-level collapse {% if current_route starts with 'admin_notification_' or current_route starts with 'admin_notificationh'
                or current_route starts with 'admin_notificationd'%}show {% endif %}" id="collapseMulti">
                    <li class="nav-item nav-link-text {% if current_route starts with 'admin_notification_' %}active{% endif %}" title="{{ 'menu.notifications'|trans({},'label', 'fr') }}">
                        <a href="{{ path('admin_notification_index') }}" class="nav-link-text">
                            <span class="nav-link-text">
                                {{ 'menu.notifications'|trans({},'label', 'fr') }}
                            </span>
                        </a>
                    </li>
                    <li class="nav-item nav-link-text {% if current_route starts with 'admin_notificationheader' %}active{% endif %}" title="{{ 'menu.header_footer'|trans({},'label', 'fr') }}">
                        <a href="{{ path('admin_notificationheader_index') }}" class="nav-link-text"><span class="nav-link-text">{{ 'menu.header_footer'|trans({},'label', 'fr') }}</span></a>
                    </li>
                    <li class="nav-item nav-link-text {% if current_route starts with 'admin_notificationdetails' %}active{% endif %}" title="{{ 'menu.header_footer'|trans({},'label', 'fr') }}">
                        <a href="{{ path('admin_notificationdetails') }}" class="nav-link-text"><span class="nav-link-text">{{ 'menu.pages'|trans({},'label', 'fr') }}</span></a>
                    </li>
                </ul>
            </li>
            <li class="nav-item {% if current_route starts with 'admin_user' %}active{% endif %}" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="{{ path('admin_user_index') }}">
                    <i class="fa fa-fw fa-users"></i>
                    <span class="nav-link-text">{{ 'menu.users'|trans({},'label', 'fr') }}</span>
                </a>
            </li>
            <li class="nav-item {% if current_route starts with 'admin_simulation' %}active{% endif %}" data-toggle="tooltip" data-placement="right" title="{{ 'menu.simulations'|trans({},'label', 'fr') }}">
                <a class="nav-link nav-link-collapse {% if current_route starts with 'admin_simulation' %}{% endif %}" data-toggle="collapse" href="#collapseSimulation" data-parent="#exampleAccordion"
                   aria-expanded="{% if current_route starts with 'admin_simulation' %}true{% endif %}">
                    <i class="fa fa-fw fa-cogs"></i>
                    <span class="nav-link-text">{{ 'menu.simulations'|trans({},'label', 'fr') }}</span>
                </a>
                <ul class="sidenav-second-level collapse {% if current_route starts with 'admin_simulation' %}
                show {% endif %}" id="collapseSimulation">
                    <li class="nav-item nav-link-text {% if current_route starts with 'admin_simulation' %}active{% endif %}" title="{{ 'menu.create_client'|trans({},'label', 'fr') }}">
                        <a href="{{ path('admin_simulation_index') }}" class="nav-link-text">
                            <span class="nav-link-text">
                                {{ 'menu.create_client'|trans({},'label', 'fr') }}
                            </span>
                        </a>
                    </li>
                    <li class="nav-item nav-link-text"  title="{{ 'menu.send_notifications'|trans({},'label', 'fr') }}">
                        <a href="{{ path('admin_simulation_send_notifications') }}"
                           class="nav-link-text send-notification"
                           data-title ="{{ 'send_notifications.title'|trans({},'label', 'fr') }}"
                           data-message = "{{ 'send_notifications.message_confirmation'|trans({},'label', 'fr') }}?"><span class="nav-link-text">{{ 'menu.send_notifications'|trans({},'label', 'fr') }}</span></a>
                    </li>
                    {#<li class="nav-item nav-link-text {% if current_route starts with 'admin_notificationdetails' %}active{% endif %}" title="{{ 'menu.header_footer'|trans({},'label', 'fr') }}">
                        <a href="{{ path('admin_notificationdetails') }}" class="nav-link-text"><span class="nav-link-text">{{ 'menu.pages'|trans({},'label', 'fr') }}</span></a>
                    </li>#}
                </ul>
            </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {#<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-envelope"></i>
                    <span class="d-lg-none">Messages
              <span class="badge badge-pill badge-primary">12 New</span>
            </span>
                    <span class="indicator text-primary d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="messagesDropdown">
                    <h6 class="dropdown-header">New Messages:</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                        <strong>David Miller</strong>
                        <span class="small float-right text-muted">11:21 AM</span>
                        <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end of the box so they don't overflow over to the sides!</div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                        <strong>Jane Smith</strong>
                        <span class="small float-right text-muted">11:21 AM</span>
                        <div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00 instead of 4:00. Thanks!</div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                        <strong>John Doe</strong>
                        <span class="small float-right text-muted">11:21 AM</span>
                        <div class="dropdown-message small">I've sent the final files over to you for review. When you're able to sign off of them let me know and we can discuss distribution.</div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item small" href="#">View all messages</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-bell"></i>
                    <span class="d-lg-none">Alerts
              <span class="badge badge-pill badge-warning">6 New</span>
            </span>
                    <span class="indicator text-warning d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="alertsDropdown">
                    <h6 class="dropdown-header">New Alerts:</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>
                  <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
              </span>
                        <span class="small float-right text-muted">11:21 AM</span>
                        <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
              <span class="text-danger">
                <strong>
                  <i class="fa fa-long-arrow-down fa-fw"></i>Status Update</strong>
              </span>
                        <span class="small float-right text-muted">11:21 AM</span>
                        <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>
                  <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
              </span>
                        <span class="small float-right text-muted">11:21 AM</span>
                        <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item small" href="#">View all alerts</a>
                </div>
            </li> #}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_user_edit',{'id':app.user.id}) }}" >
                    {% if app.user.firstname %}{{ app.user.firstname|capitalize }} {% endif %} {% if app.user.lastname %} {{ app.user.lastname|upper }} {% endif %}
                </a>
            </li>
            <li class="nav-item"><a class="nav-link" data-toggle="modal" data-target="#exampleModal">| <i class="fa fa-fw fa-sign-out"></i>{{ 'logout.logout'|trans({},'label', 'fr') }}</a></li>
        </ul>
    </div>
</nav>
<div class="content-wrapper">
    <div class="container-fluid">
        {% block body %}
        {% endblock %}
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>NeoBe + pour Safe Data - DropCloud 2018</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ 'logout.logout'|trans({},'label', 'fr') }}</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">{{ 'logout.logout_message'|trans({},'label', 'fr') }}</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">{{ 'button.cancel'|trans({},'label', 'fr') }}</button>
                    <a class="btn btn-primary" href="{{ path('fos_user_security_logout') }}">{{ 'logout.logout'|trans({},'label', 'fr') }}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal-->
    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-delete-title"></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-delete-body"></div>
                <div class="modal-footer">
                    <button class="btn btn-secondary cancel-delete"  type="button" data-dismiss="modal">{{ 'button.cancel'|trans({},'label', 'fr') }}</button>
                    <a class="btn btn-primary confirm-delete" href="#">{{ 'button.delete'|trans({},'label', 'fr') }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="notification-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-notification-title"></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-notification-body"></div>
                <div class="modal-footer">
                    <button class="btn btn-secondary notification-cancel"  type="button" data-dismiss="modal">{{ 'button.cancel'|trans({},'label', 'fr') }}</button>
                    <a class="btn btn-primary confirm-notification" href="#">{{ 'button.send'|trans({},'label', 'fr') }}</a>
                </div>
            </div>
        </div>
    </div>
    {% block javascripts %}
        <!-- Bootstrap core JavaScript-->
        <script src="{{ asset('/common/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('/common/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <!-- Core plugin JavaScript-->
        <script src="{{ asset('/common/jquery-easing/jquery.easing.min.js') }}"></script>
        <!-- Custom scripts for all pages-->
        <script src="{{ asset('/common/js/default.min.js') }}"></script>
        <script src="{{ asset('/admin/js/admin.js') }}"></script>
    {% endblock %}
</div>
</body>

</html>
