{% extends 'admin/layout.html.twig' %}
{% block title %}
    {% if(partner) %}
        {{ 'partners.edit_title'|trans({},'label', 'fr') }}
    {% else  %}
        {{ 'partners.create_title'|trans({},'label', 'fr') }}
    {% endif %}
{% endblock %}
{% block body_id 'step1' %}

{% block body %}
    <!-- Breadcrumbs-->

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('admin_simulation_index') }}"><i class="fa fa-fw fa-chevron-right"></i>{{ 'menu.simulations'|trans({},'label', 'fr') }} </a>
        </li>
        {% if(partner.id) %}
            <li class="breadcrumb-item active">{{ 'sumilations.client_details'|trans({},'label', 'fr') }}</li>
        {% else  %}
            <li class="breadcrumb-item active">{{ 'sumilations.create_client'|trans({},'label', 'fr') }}</li>
        {% endif %}

    </ol>
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header">
                    <h2><i class="fa fa-users"></i>
                        {% if(partner.id) %}
                            {{ 'simulations.client_details'|trans({},'label', 'fr') }}
                        {% else  %}
                            {{ 'simulations.create_title'|trans({},'label', 'fr') }}
                        {% endif %}
                    </h2>
                </div>
                <div class="card-body">
                    {% if app.session.flashBag.has('error') %}
                        <div class="row error-message">
                            <ul>
                                {% for msg in app.session.flashBag.get('error') %}
                                    <li><i class="fa fa-warning"></i> {{ msg }} </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {{ form_start(form,{'method':'POST', 'attr': {'class': 'form-control no-border'}}) }}
                        {% if not form.vars.valid %}
                            <div class="form-row " >
                                <ul>
                                    {% for child in form.children %}
                                        {%for error in child.vars.errors%}
                                            <li>{{error}}</li>
                                        {%endfor%}
                                    {%endfor%}
                                </ul>
                            </div>
                        {%endif%}
                    <div class="row">
                        <div class="col-6">
                            <div class="card mb-3">
                                <div class="card-header">{{ 'partners.info_client'|trans({},'label', 'fr') }}
                                </div>
                                <div class="form card-body">
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <label for="partner_name">{{ 'partners.name'|trans({},'label', 'fr') }}</label>
                                                {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <label for="partner_address1">{{ 'partners.address1'|trans({},'label', 'fr') }}</label>
                                                {{ form_widget(form.address1, { 'attr': {'class': 'form-control'} }) }}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <label for="partner_address2">{{ 'partners.address2'|trans({},'label', 'fr') }}</label>
                                                {{ form_widget(form.address2, { 'attr': {'class': 'form-control'} }) }}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-3">
                                                <label for="partner_zipCode">{{ 'partners.zipcode'|trans({},'label', 'fr') }}</label>
                                                {{ form_widget(form.zipCode, { 'attr': {'class': 'form-control'} }) }}
                                            </div>
                                            <div class="col-md-5">
                                                <label for="partner_city">{{ 'partners.city'|trans({},'label', 'fr') }}</label>
                                                {{ form_widget(form.city, { 'attr': {'class': 'form-control text-right'} }) }}
                                            </div>
                                            <div class="col-md-4">
                                                <label for="partner_country">{{ 'partners.country'|trans({},'label', 'fr') }}</label>
                                                {{ form_widget(form.country, { 'attr': {'class': 'form-control'} }) }}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-3">
                                                <label for="partner_civility">{{ 'partners.civility'|trans({},'label', 'fr') }}</label>
                                                {{ form_widget(form.civility, { 'attr': {'class': 'form-control'} }) }}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <label for="partner_lastname">{{ 'partners.lastname'|trans({},'label', 'fr') }}</label>
                                                {{ form_widget(form.lastname, { 'attr': {'class': 'form-control'} }) }}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <label for="partner_firstname">{{ 'partners.firstname'|trans({},'label', 'fr') }}</label>
                                                {{ form_widget(form.firstname, { 'attr': {'class': 'form-control'} }) }}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <label for="partner_mail">{{ 'partners.mail'|trans({},'label', 'fr') }}</label>
                                                {{ form_widget(form.mail, { 'attr': {'class': 'form-control'} }) }}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <label for="partner_phone">{{ 'partners.phone'|trans({},'label', 'fr') }}</label>
                                                {{ form_widget(form.phone, { 'attr': {'class': 'form-control'} }) }}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <label for="partner_mobile">{{ 'partners.mobile'|trans({},'label', 'fr') }}</label>
                                                {{ form_widget(form.mobile, { 'attr': {'class': 'form-control'} }) }}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <label for="partner_category">{{ 'partners.category'|trans({},'label', 'fr') }}</label>
                                                {{ form_widget(form.category, { 'attr': {'class': 'form-control'} }) }}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card mb-2">
                                <div class="card-header">{{ 'partners.info_partner'|trans({},'label', 'fr') }}</div>
                                <div class="form card-body">
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <label for="partner_partner">{{ 'partners.parent'|trans({},'label', 'fr') }}</label>
                                                {{ form_widget(form.parent, { 'attr': {'class': 'form-control'} }) }}
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-2">
                                <div class="card-header">{{ 'partners.neobe_pack'|trans({},'label', 'fr') }}
                                </div>
                                <div class="form card-body">
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <label for="partner_nbLicense">{{ 'partners.nb_licence'|trans({},'label', 'fr') }}</label>
                                                {{ form_widget(form.nbLicense, { 'attr': {'class': 'form-control'} }) }}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <label for="partner_volumeSize">{{ 'partners.volume_size'|trans({},'label', 'fr') }}</label>
                                                {{ form_widget(form.volumeSize, { 'attr': {'class': 'form-control'} }) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#<div class="form-group">
                        <div class="form-row">
                            <div class="col-md-2">
                                <input type="submit" class="btn btn-primary btn-block" value="Enregistrer">
                            </div>
                        </div>
                    </div>#}

                    {{ form_end(form) }}
                </div>

            </div>



                {# afficher le formulaire #}
                {% if (partner.neobeAccountId > 0) %}
                <div class="card mb-3">
                    <div class="card-header">{{ 'simulations.neobe_admin_acces'|trans({},'label', 'fr') }}</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div id="dataTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-bordered dataTable" id="dataTable" role="grid" aria-describedby="dataTable_info" style="width: 100%;" width="100%" cellspacing="0">
                                            <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" style="width: 50px;" aria-sort="ascending" aria-label="Id">#</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" style="width: 125px;" aria-sort="ascending" aria-label="{{ 'partners.mail'|trans({},'label', 'fr') }}">{{ 'partners.mail'|trans({},'label', 'fr') }}</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" style="width: 120px;" aria-sort="ascending" aria-label="{{ 'partners.neobe_account_id'|trans({},'label', 'fr') }}">{{ 'partners.neobe_account_id'|trans({},'label', 'fr') }}</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" style="width: 175px;" aria-label="{{ 'partners.nb_licence'|trans({},'label', 'fr') }}">{{ 'partners.nb_licence'|trans({},'label', 'fr') }}</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" style="width: 175px;" aria-label="{{ 'partners.volume_size'|trans({},'label', 'fr') }}">{{ 'partners.volume_size'|trans({},'label', 'fr') }}</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" style="width: 175px;" aria-label="{{ 'partners.created_at'|trans({},'label', 'fr') }}">{{ 'simulations.created_at'|trans({},'label', 'fr') }}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr role="row" class="odd">
                                                    <td class="sorting_1 text-right">{{ partner.id }}</td>
                                                    <td>{{ partner.mail }}</td>
                                                    <td class="sorting_1 text-right">{{ partner.neobeAccountId }}</td>
                                                    <td class="sorting_1 text-right">{{ partner.nbLicense }}</td>
                                                    <td class="sorting_1 text-right">{{ partner.volumeSize }}</td>
                                                    <td>{{ partner.neobeCreatedAt|date('d/m/Y') }} à {{ partner.neobeCreatedAt|date('H:i:s') }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="card mb-3">
                        <div class="card-header">{{ 'simulations.neobe_account_list'|trans({},'label', 'fr') }}</div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <div id="dataTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-bordered dataTable" id="dataTable" role="grid" aria-describedby="dataTable_info" style="width: 100%;" width="100%" cellspacing="0">
                                                <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="dataTable" style="width: 50px;" aria-sort="ascending" aria-label="Id">#</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable" style="width: 125px;" aria-sort="ascending" aria-label="{{ 'simulations.login'|trans({},'label', 'fr') }}">{{ 'simulations.login'|trans({},'label', 'fr') }}</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable" style="width: 120px;" aria-sort="ascending" aria-label="{{ 'simulations.volume_used'|trans({},'label', 'fr') }}">{{ 'simulations.volume_used'|trans({},'label', 'fr') }}</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable" style="width: 120px;" aria-sort="ascending" aria-label="{{ 'simulations.volume_total'|trans({},'label', 'fr') }}">{{ 'simulations.volume_total'|trans({},'label', 'fr') }}</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable" style="width: 160px;" aria-sort="ascending" aria-label="{{ 'simulations.created_at'|trans({},'label', 'fr') }}">{{ 'simulations.created_at'|trans({},'label', 'fr') }}</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable" style="width: 100px;" aria-label="{{ 'simulations.installation'|trans({},'label', 'fr') }}">{{ 'simulations.installation'|trans({},'label', 'fr') }}</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable" style="width: 100px;" aria-label="{{ 'simulations.saved'|trans({},'label', 'fr') }}">{{ 'simulations.saved'|trans({},'label', 'fr') }}</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable" style="width: 160px;" aria-label="{{ 'simulations.last_save'|trans({},'label', 'fr') }}">{{ 'simulations.last_save'|trans({},'label', 'fr') }}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% if(partner.accounts|length > 0) %}
                                                    {% for  n in partner.accounts %}
                                                        <tr role="row" class="odd">
                                                            <td class="sorting_1 text-right">{{ n.id }}</td>
                                                            <td>{{ n.login }}</td>
                                                            <td class="sorting_1 text-right">{{ n.usedSize }}</td>
                                                            <td class="sorting_1 text-right">{{ n.totalSize }}</td>
                                                            <td class="sorting_1 text-right">{{ n.neobeCreationDate|date('d/m/Y') }} à {{ n.neobeCreationDate|date('H:i:s') }}</td>
                                                            <td>{{ n.installed }}</td>
                                                            <td>{{ n.saved }}</td>
                                                            <td>{{ n.updatedAt|date('d/m/Y') }} à {{ n.updatedAt|date('H:i:s') }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                {% else %}
                                                    <tr role="row" class="odd ">
                                                        <td colspan="6" class="text-center ">{{ 'common.table.no_data'|trans({},'label', 'fr') }}</td>
                                                    </tr>
                                                {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% else %}
                    <div class="card mb-3">
                        <div class="card-header">Confirmation création de compte client</div>
                        <div class="form card-body">
                            <div class="form-group">
                                <form action="{{ path('steps_two_simulation', {'token' : partner.hash, 'id': partner.id}) }}" method="post">
                                    <div class="form-group row">
                                        <p style="text-align: center">
                                            <input type="checkbox" name="create-account" id="create-account" checked style="margin-right: 15px; margin-left: 15px;" >
                                            <span>Créer des licences</span>
                                        </p>
                                    </div>
                                    <div class="form-group row create-account">
                                        <label for="" class="col-sm-4">Nombre de licences à créer:</label>
                                        <div class="col-sm-8">
                                            <input required="required" type="number" name="nb_licences_a_creer" class="form-control step" id="nb_licences_a_creer" placeholder="00">
                                        </div>
                                    </div>
                                    <div class="form-group row create-account">
                                        <label for="" class="col-sm-4">Volume par licence(Go):</label>
                                        <div class="col-sm-8">
                                            <input required="required" type="number" name="volume_par_licence_Go" class="form-control step" id="volume_par_licence_Go" placeholder="00 Go">
                                        </div>
                                    </div>
                                    <div class="col" style="text-align: center;">
                                        <button type="submit"  class="btn btn-primary btn-block" >Confirmer la création de compte Neobe</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).on('click', '#create-account', function (e) {
            if($(this).prop('checked')) {
                $('.create-account').show();
                $('#nb_licences_a_creer').attr('required',true);
                $('#volume_par_licence_Go').attr('required',true);
            } else {
                $('.create-account').hide();
                $('#nb_licences_a_creer').attr('required',false);
                $('#volume_par_licence_Go').attr('required',false);
            }
        });
    </script>


{% endblock %}