{% extends 'admin/login-layout.html.twig' %}
{% block title %}{{ 'login.title'|trans({},'label', 'fr') }} - {{ 'login.reset_password'|trans({},'label', 'fr') }}{% endblock %}
{% block body%}
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header"><img src="{{ asset('/admin/img/logo-neobe.jpg') }}" alt="logo" title="logo"></div>
            <div class="card-body">
                <form id="reset-password" action="{{ path("admin_user_resetting_send_mail") }}" method="post">
                    <h2>{{ 'login.reset_password'|trans({},'label', 'fr') }}</h2>
                    <br>
                    <div class="form-group">
                        <label for="username">{{ 'login.reset_message'|trans({},'label', 'fr') }}</label>
                        <input class="form-control" id="username" name="_username" type="email" aria-describedby="emailHelp" placeholder="{{ 'login.mail'|trans({},'label', 'fr') }}">
                    </div>
                    <input type="submit" class="btn btn-primary btn-block" id="_submit" name="_submit"
                           value="{{ 'button.send'|trans({},'label', 'fr') }}"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}