{% extends 'admin/layout.html.twig' %}
{% block title %}Activation pack - Etape 1{% endblock %}
{% block body_id 'step1' %}

{% block body %}
    <!-- Breadcrumbs-->

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-fw fa-chevron-right"></i><a href="{{ path('admin_user_index') }}">{{ 'menu.users'|trans({},'label', 'fr') }}</a>
        </li>
        <li class="breadcrumb-item active">{{ 'common.create'|trans({},'label', 'fr') }}</li>
    </ol>
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header">
                    <h2><i class="fa fa-users"></i>{{ 'users.create_title'|trans({},'label', 'fr') }}</h2>
                </div>
                <div class="card-body">
                    {{ form_start(form,{'action':path('admin_user_create'), 'method':'POST', 'attr': {'class': 'form-control no-border'}}) }}
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="user_civility">Civilité</label>
                                    {{ form_widget(form.civility, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="user_lastname">{{ 'users.lastname'|trans({},'label', 'fr') }}</label>
                                    {{ form_widget(form.lastname, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="user_firstname">{{ 'users.firstname'|trans({},'label', 'fr') }}</label>
                                    {{ form_widget(form.firstname, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="users_email">{{ 'users.email'|trans({},'label', 'fr') }}</label>
                                    {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="exampleInputLastName">Role</label>
                                    {{ form_widget(form.roles, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                        </div>
                        {#<div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input class="form-control" id="exampleInputPassword1" placeholder="Password" type="password">
                                </div>
                                <div class="col-md-6">
                                    <label for="exampleConfirmPassword">Confirm password</label>
                                    <input class="form-control" id="exampleConfirmPassword" placeholder="Confirm password" type="password">
                                </div>
                            </div>
                        </div>#}
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-2">
                                    <input type="submit" class="btn btn-primary btn-block" value="Enregistrer">
                                </div>
                            </div>
                        </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

{% endblock %}