{% extends 'admin/layout.html.twig' %}
{% block title %}Activation pack - Etape 1{% endblock %}
{% block body_id 'step1' %}

{% block body %}
    <!-- Breadcrumbs-->

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-fw fa-chevron-right"></i><a href="index.html">{{ 'menu.users'|trans({},'label', 'fr') }}</a>
        </li>
        {#<li class="breadcrumb-item active">Blank Page</li>#}
    </ol>
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header">
                    <h2>
                        <i class="fa fa-users"></i>{{ 'users.list_title'|trans({},'label', 'fr') }}
                        <a class="add-entity" href="{{ path('admin_user_create')}}" title="Ajouter"><i class="fa fa-plus-circle"></i>Ajouter</a>
                    </h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="dataTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                            {#<div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div id="dataTable_filter" class="dataTables_filter">
                                        <label>Search:<input class="form-control form-control-sm" placeholder="" aria-controls="dataTable" type="search"></label>
                                    </div>
                                </div>
                            </div>#}
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered dataTable" id="dataTable" role="grid" aria-describedby="dataTable_info" style="width: 100%;" width="100%" cellspacing="0">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="dataTable" style="width: 50px;" aria-sort="ascending" aria-label="Id">#</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" style="width: 250px;" aria-sort="ascending" aria-label="Nom">Nom</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" style="width: 250px;" aria-label="Email">Email</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" style="" aria-label="Role">Role</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" style="width: 100px;" aria-label="Action">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if(users|length > 0) %}
                                            {% set nbApi = 0 %}
                                            {% set nbAdmin = 0 %}
                                            {% for  u in users %}
                                                {% if(u.roles[0] == 'ROLE_USER') %}
                                                    {% set nbApi = nbApi + 1 %}
                                                {% elseif (u.roles[0] == 'ROLE_USER') %}
                                                    {% set nbAdmin = nbAdmin + 1 %}
                                                {% endif %}
                                            {% endfor %}
                                            {% for  u in users %}
                                                <tr role="row" class="odd">
                                                    <td class="sorting_1 text-right">{{ u.id }}</td>
                                                    <td>{% if u.firstname %}{{ u.firstname|capitalize }} {% endif %} {% if u.lastname %} {{ u.lastname|upper }} {% endif %}</td>
                                                    <td>{{ u.email }}</td>
                                                    <td class="text-center">{{ roles[u.roles[0]] }}</td>
                                                    <td class="actions">
                                                        <a href="{{ path('admin_user_edit',{'id':u.id}) }}"
                                                           title="{{ 'button.edit'|trans({},'label', 'fr') }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                        {% if((u.roles[0] == 'ROLE_USER' and nbApi > 1) or (u.roles[0] == 'ROLE_ADMIN' and nbAdmin > 1))  %}
                                                            <a href="{{ path('admin_user_delete',{'id':u.id}) }}" class="delete" data-uid="{{ u.id }}"
                                                               data-detail="{% if u.firstname %}{{ u.firstname|capitalize }} {% endif %} {% if u.lastname %} {{ u.lastname|upper }} {% endif %}"
                                                               data-title ="Suppression d'un utilisateur"
                                                               data-message = "Voulez vous supprimer l'utilisateur #{{ u.id }} "
                                                               title="{{ 'button.delete'|trans({},'label', 'fr') }}">
                                                                <i class="fa fa-times-circle" style="color: #c31919" aria-hidden="true"></i>
                                                            </a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr role="row" class="odd">
                                                <td colspan="5">Pas de données</td>

                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {#<div class="row">
                                <div class="col-sm-12 col-md-5">
                                    <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 51 to 57 of 57 entries</div>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                        <ul class="pagination"><li class="paginate_button page-item previous" id="dataTable_previous">
                                            <a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                                            <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                            <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                            <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                                            <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                                            <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
                                            <li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
                                            <li class="paginate_button page-item next disabled" id="dataTable_next"><a href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}