{% extends 'admin/layout.html.twig' %}
{% block title %}Admin Neobe-TER : Utilisateur{% endblock %}
{% block body_id 'step1' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/common/js/datatable/dataTables.bootstrap4.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- Breadcrumbs-->

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-fw fa-chevron-right"></i>{{ 'menu.users'|trans({},'label', 'fr') }}
        </li>
        {#<li class="breadcrumb-item active">Blank Page</li>#}
    </ol>
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header">
                    <h2>
                        <i class="fa fa-users"></i>{{ 'users.list_title'|trans({},'label', 'fr') }}
                        <a class="add-entity" href="{{ path('admin_user_create')}}" title="Ajouter"><i class="fa fa-plus-circle"></i>Ajouter</a>
                    </h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered dataTable" id="dataTable" role="grid" aria-describedby="dataTable_info" style="width: 100%;" width="100%" cellspacing="0">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" style="width: 50px;" aria-sort="ascending" aria-label="Id">#</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" style="" aria-sort="ascending" aria-label="Nom">Nom</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" style="width: 275px;" aria-label="Email">Email</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" style="width: 150px;" aria-label="Role">Role</th>
                                <th class="sorting no-sort" tabindex="0" aria-controls="dataTable" style="width: 80px;" aria-label="Action">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if(users|length > 0) %}
                                {% set nbApi = 0 %}
                                {% set nbAdmin = 0 %}
                                {% for  us in users %}
                                    {% if(us.roles[0] == 'ROLE_USER') %}
                                        {% set nbApi = nbApi + 1 %}
                                    {% elseif (us.roles[0] == 'ROLE_ADMIN') %}
                                        {% set nbAdmin = nbAdmin + 1 %}
                                    {% endif %}
                                {% endfor %}
                                {% for  u in users %}
                                    <tr role="row" class="odd">
                                        <td class="sorting_1 text-right">{{ u.id }}</td>
                                        <td>{% if u.firstname %}{{ u.firstname|capitalize }} {% endif %} {% if u.lastname %} {{ u.lastname|upper }} {% endif %}
                                        {% if (u.partner) %} ({{ u.partner.name }}) {% endif %}</td>
                                        <td>{{ u.email }}</td>
                                        <td class="text-center">{{ roles[u.roles[0]] }}</td>
                                        <td class="actions">
                                            <a href="{{ path('admin_user_edit',{'id':u.id}) }}"
                                               title="{{ 'button.edit'|trans({},'label', 'fr') }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                            {% if((u.roles[0] == 'ROLE_USER' and nbApi > 1) or (u.roles[0] == 'ROLE_ADMIN' and nbAdmin > 1))  %}
                                                <a href="{{ path('admin_user_delete',{'id':u.id}) }}" class="delete" data-uid="{{ u.id }}"
                                                   data-detail="{% if u.firstname %}{{ u.firstname|capitalize }} {% endif %} {% if u.lastname %} {{ u.lastname|upper }} {% endif %}"
                                                   data-title ="Suppression d'un utilisateur"
                                                   data-message = "Voulez vous supprimer l'utilisateur #{{ u.id }} "
                                                   title="{{ 'button.delete'|trans({},'label', 'fr') }}">
                                                    <i class="fa fa-times-circle" style="color: #c31919" aria-hidden="true"></i>
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr role="row" class="odd">
                                    <td colspan="5">Pas de données</td>

                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/common/js/datatable/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('/common/js/datatable/dataTables.bootstrap4.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('table').DataTable({
                paging: true,
                responsive: true,
                "iDisplayLength": 20,
                "lengthMenu": [[10, 20, 50,100], [10, 20, 50,100]],
                "aaSorting": [],
                "language": {
                    "lengthMenu": "Affiche _MENU_ elements par page",
                    "zeroRecords": "Il n'y a pas des résultats",
                    "info": "Page _PAGE_ de _PAGES_",
                    "infoEmpty": "Il n'y a pas des résultats",
                    "infoFiltered": "(dans _MAX_ éléments)",
                    "paginate": {
                        "first": "Premier",
                        "last": "Dernier",
                        "next": "Suivant",
                        "previous": "Précedant"
                    },
                    "search": "Recherche : "
                },
                "column": [
                    {"width": "50px"},
                    null,
                    {"width": "275px"},
                    {"width": "150px"},
                    {"width": "80px"},
                    {"targets": 'no-sort', orderable: false}
                ]
            });
        });
    </script>




{% endblock %}