{% trans_default_domain 'FOSUserBundle' %}
<div class="container-fluid">
    {{ form_start(form, { 'action': path('user_edit_password',{'id':app.user.id}), 'attr': { 'class': 'fos_user_change_password','id': 'form_change_password' } }) }}
    <br class="form-group col-sm-12">
    <div class="col-sm-12">
        {{ form_label(form.current_password, null , { 'label_attr':{'class':'col-xs-4 no-padding'} }) }}
        {{ form_widget(form.current_password, { 'attr': {'class': 'form-control col-xs-8'} }) }}
        {% if form.current_password.vars.errors|length %}
            <div class="alert alert-danger alert-dismissable col-sm-12">{{ form.current_password.vars.errors[0].message }}</div>
        {% endif %}
    </div>
    <div class="col-sm-12">
        {{ form_label(form.plainPassword.first, null , { 'label_attr':{'class':'col-xs-4 no-padding'} }) }}
        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control col-xs-8'} }) }}
    </div>
    <div class="col-sm-12">
        {{ form_label(form.plainPassword.second, null , { 'label_attr':{'class':'col-xs-4 no-padding'} }) }}
        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control col-xs-8'} }) }}

        {% if form.plainPassword.second.vars.errors|length %}
            <div class="alert alert-danger alert-dismissable col-sm-12">{{ form.plainPassword.second.vars.errors[0].message }}</div>
        {% endif %}
        {{ form_widget(form) }}
    </div>
    </br>

    <div class="col-sm-12 form-group" style="margin-top: 12px">
        <div class="col-sm-4 no-padding">
            <button type="button" class="btn btn-default form-control" data-dismiss="modal" style="margin: 0px">Annuler</button>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4 no-padding">
            <input type="button" value="Ok" class="btn btn-primary form-control" onclick="modiferMotDePass()"
                   id="envoyer-forme" style="margin: 0px"/>
        </div>
    </div>
</div>

{{ form_end(form) }}
</div>