{% extends 'admin/layout.html.twig' %}
{% block title %}{{ 'pages.edit_title'|trans({},'label', 'fr') }}{% endblock %}
{% block body_id 'step1' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/common/farbtastic/farbtastic.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-fw fa-chevron-right"></i>{{ 'menu.contents'|trans({},'label', 'fr') }}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('admin_notificationheader_index') }}">{{ 'menu.pages'|trans({},'label', 'fr') }}</a>
        </li>
        <li class="breadcrumb-item active">
            {{ 'common.edition'|trans({},'label', 'fr') }}
        </li>
    </ol>
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header">
                    <h2><i class="fa fa-users"></i>
                        {{ 'pages.edit_title'|trans({},'label', 'fr') }} : {{ partner.name }}
                    </h2>
                </div>
                <div class="card-body">

                    {{ form_start(form,{'method':'POST', 'attr': {'class': 'form-control no-border'}}) }}
                    {% if not form.vars.valid %}
                         <div class="form-row error-message" >
                             <ul>
                                {% for child in form.children %}
                                    {%for error in child.vars.errors%}
                                        <li>{{dump(error)}}</li>
                                    {%endfor%}
                                {%endfor%}
                            </ul>
                         </div>
                    {%endif%}

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="page_details_subdomain">{{ 'pages.subdomain'|trans({},'label', 'fr') }}</label>
                                    {{ form_widget(form.subdomain, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="page_details_product">{{ 'pages.product'|trans({},'label', 'fr') }}</label>
                                    {{ form_widget(form.product, { 'attr': {'class': 'form-control'} }) }}

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="page_details_productPlus">{{ 'pages.product_plus'|trans({},'label', 'fr') }}</label>
                                    {{ form_widget(form.productPlus, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="page_details_contactTitle">{{ 'pages.product_contact_title'|trans({},'label', 'fr') }}</label>
                                    {{ form_widget(form.contactTitle, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="page_details_contactEmail">{{ 'pages.product_contact_email'|trans({},'label', 'fr') }}</label>
                                    {{ form_widget(form.contactEmail, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="page_details_contactPhone">{{ 'pages.product_contact_phone'|trans({},'label', 'fr') }}</label>
                                    {{ form_widget(form.contactPhone, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="page_details_color">{{ 'pages.header_color'|trans({},'label', 'fr') }}</label>
                                    {{ form_widget(form.color, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="col-md-6" style="padding-top: 24px">
                                    <div id="picker"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="page_details_headerTop">{{ 'pages.header_top'|trans({},'label', 'fr') }}</label>
                                    {{ form_widget(form.headerTop, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="col-md-6" style="padding-top: 24px">
                                    {{ partner.getActivePageDetails.headerTop|raw }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="page_details_resume1">{{ 'pages.resume1'|trans({},'label', 'fr') }}</label>
                                    {{ form_widget(form.resume1, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="col-md-6" style="padding-top: 24px">
                                    {{ partner.getActivePageDetails.resume1|raw }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="page_details_footer">{{ 'pages.footer'|trans({},'label', 'fr') }}</label>
                                    {{ form_widget(form.footer, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="col-md-6" style="padding-top: 24px">
                                    {{ partner.getActivePageDetails.footer|raw }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="page_details_logoUpload">{{ 'pages.logo'|trans({},'label', 'fr') }}</label>
                                    {{ form_widget(form.logoUpload, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="col-md-6">
                                    <label for="page_details_video"></label>
                                    <img height="150px" style="margin-top: 24px" src="/upload/partner/img/{{ partner.id }}/{{ partner.getActivePageDetails.logo }}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="page_details_imageLeftUpload">{{ 'pages.image_left'|trans({},'label', 'fr') }}</label>
                                    {{ form_widget(form.imageLeftUpload, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="col-md-6">
                                    <img height="150px" style="margin-top: 24px" src="/upload/partner/img/{{ partner.id }}/{{ partner.getActivePageDetails.imageLeft }}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="page_details_video">{{ 'pages.video'|trans({},'label', 'fr') }}</label>
                                    {{ form_widget(form.video, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="col-md-6">
                                    {{ partner.getActivePageDetails().video|raw }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <label for="page_details_legalMention">{{ 'pages.legal_mention'|trans({},'label', 'fr') }}</label>
                                    {{ form_widget(form.legalMention, { 'attr': {'class': 'form-control'} }) }}
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-4">
                                    <label for="page_details_cgv">{{ 'pages.cgv'|trans({},'label', 'fr') }}</label>
                                    {{ form_widget(form.cgvUpload, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="col-md-8">
                                    <br>
                                    <object data="/upload/partner/img/{{ partner.id }}/{{ partner.getActivePageDetails.cgv}}" type='application/pdf' width='100%' height='100%'></object>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-2">
                                    <input type="submit" class="btn btn-primary btn-block" value="Enregistrer">
                                </div>
                                <div class="col-md-2">
                                    <a href="{{ path('admin_notificationdetails') }}" class="btn btn-secondary" title="Annuler">{{ 'button.cancel'|trans({},'label', 'fr') }}</a>
                                </div>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="//cdn.ckeditor.com/4.7.3/full/ckeditor.js"></script>
    {{ parent() }}
    <script src="{{ asset('common/farbtastic/farbtastic.js') }}"></script>

    <script type="text/javascript">
        /*CKEDITOR.editorConfig = function( config ) {
            config.extraPlugins = 'sourcedialog';
            config.removePlugins = 'sourcearea';
        };
        headerTop = CKEDITOR.replace('page_details[headerTop]');
        footer = CKEDITOR.replace('page_details[footer]');
        */
        footer = CKEDITOR.replace('page_details[legalMention]');
        $(document).ready(function(){
            //color
            $('#picker').farbtastic('#page_details_color');
            $('iframe').attr('width',400);
            $('iframe').attr('height',300);

        });

    </script>

{% endblock %}