{% extends 'admin/layout.html.twig' %}
{% block title %}Activation pack - Etape 1{% endblock %}
{% block body_id 'step1' %}
{% block stylesheets %}
    <link href="{{ asset('/common/js/datatable/dataTables.bootstrap4.css') }}" rel="stylesheet">
    {{ parent() }}
{% endblock %}
{% block body %}
    <!-- Breadcrumbs-->

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-fw fa-chevron-right"></i>{{ 'menu.contents'|trans({},'label', 'fr') }}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('admin_notification_index') }}">{{ 'menu.notifications'|trans({},'label', 'fr') }}</a>
        </li>
        <li class="breadcrumb-item active">{{ 'common.edition'|trans({},'label', 'fr') }}</li>
    </ol>
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header">
                    <h2><i class="fa fa-users"></i>{{ 'notifications.edit_title'|trans({},'label', 'fr') }}</h2>
                </div>
                <div class="card-body">
                    {{ form_start(form,{'method':'POST', 'attr': {'class': 'form-control no-border'}}) }}
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="exampleInputName">{{ 'notifications.name'|trans({},'label', 'fr') }}</label>
                                    {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="exampleInputLastName">{{ 'notifications.description'|trans({},'label', 'fr') }}</label>
                                    {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-2">
                                    <input type="submit" class="btn btn-primary btn-block" value="Enregistrer">
                                </div>
                            </div>
                        </div>
                    {{ form_end(form) }}
                    <div class="table-responsive">

                        <table class="table table-bordered dataTable" id="dataTable" role="grid" aria-describedby="dataTable_info" style="width: 100%;" width="100%" cellspacing="0">
                            <thead>
                            <tr role="row">
                                <th class="no-sort text-left" colspan="5" style="width: 50px;" aria-sort="ascending" >{{ 'notifications.messages.list_title'|trans({},'label', 'fr') }} &nbsp;&nbsp;&nbsp;
                                    <a class="add-entity" href="{{ path('admin_notification_message_create',{'notif_id':notification.id})}}" title="{{ 'button.add'|trans({},'label', 'fr') }}"><i class="fa fa-plus-circle"></i>{{ 'button.add'|trans({},'label', 'fr') }}</a></th>
                            </tr>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" style="width: 50px;" aria-sort="ascending" aria-label="Id">#</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" style="width: 100px;" aria-sort="ascending" aria-label="Nom">{{ 'notifications.type'|trans({},'label', 'fr') }}</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" style="width: 300px;" aria-sort="ascending" aria-label="Nom">{{ 'notifications.subject'|trans({},'label', 'fr') }}</th>
                                <th class="no-sort" tabindex="0" aria-controls="dataTable" style="" aria-label="description">{{ 'notifications.message'|trans({},'label', 'fr') }}</th>
                                <th class="no-sort" tabindex="0" aria-controls="dataTable" style="width: 100px;" aria-label="Action">{{ 'common.table.actions'|trans({},'label', 'fr') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if(notification.notificationContents|length > 0) %}
                                {% for  nc in notification.notificationContents %}
                                    <tr role="row" class="odd">
                                        <td class="sorting_1 text-right">{{ nc.id }}</td>
                                        <td>{{ nc.type.name }}</td>
                                        <td>{{ nc.subject }}</td>
                                        <td>{{ nc.content|raw}}</td>
                                        <td class="actions">
                                            <a href="{{ path('admin_notification_message_edit',{'id':nc.id, 'notif_id':nc.notification.id}) }}"
                                               title="{{ 'button.edit'|trans({},'label', 'fr') }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                            <a href="{{ path('admin_notification_message_delete',{'id':nc.id, 'notif_id':nc.notification.id }) }}" class="delete" data-uid="{{ nc.id }}"
                                               data-detail="{{ nc.id }}"
                                               data-title ="{{ 'notifications.messages.deletion_title'|trans({},'label', 'fr') }}"
                                               data-message = "{{ 'notifications.messages.deletion_message_confirmation'|trans({},'label', 'fr') }} #{{ nc.id }} "
                                               title="{{ 'button.delete'|trans({},'label', 'fr') }}">
                                                <i class="fa fa-times-circle" style="color: #c31919" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr role="row" class="odd ">
                                    <td colspan="5" class="text-center ">Pas de données</td>

                                </tr>
                            {% endif %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/common/js/datatable/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('/common/js/datatable/dataTables.bootstrap4.js') }}"></script>
    <script type="text/javascript">
        $('#dataTable').DataTable({
            "paging": false,
            "bInfo": false,
            "bFilter": false,
            responsive: true,
            "iDisplayLength": 20,
            "bLengthChange": false,
            "lengthMenu": [[10, 20, 50,100], [10, 20, 50,100]],
            "aaSorting": [],
            "language": {
                "lengthMenu": "Affiche _MENU_ elements par page",
                "zeroRecords": "Il n'y a pas des résultats",
                "info": "Page _PAGE_ de _PAGES_",
                "infoEmpty": "Il n'y a pas des résultats",
                "infoFiltered": "(dans _MAX_ éléments)",
                "paginate": {
                    "first": "Premier",
                    "last": "Dernier",
                    "next": "Suivant",
                    "previous": "Précedant"
                },
                "search": "Recherche : "
            },
            "aoColumns": [
                {"width": "50px"},
                {"width": "60px"},
                {"width": "250px"},
                {"targets": 'no-sort', orderable: false},
                {"width": "60px", "targets": 'no-sort', orderable: false}

            ]
        });
    </script>
{% endblock %}