{% extends 'admin/layout.html.twig' %}
{% block title %}Activation pack - Etape 1{% endblock %}
{% block body_id 'step1' %}
{% block stylesheets %}
    <link href="{{ asset('/common/js/datatable/dataTables.bootstrap4.css') }}" rel="stylesheet">
    {{ parent() }}
{% endblock %}
{% block body %}
    <!-- Breadcrumbs-->

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-fw fa-chevron-right"></i>{{ 'menu.contents'|trans({},'label', 'fr') }}</a>
        </li>
        <li class="breadcrumb-item">
            {{ 'menu.notifications'|trans({},'label', 'fr') }}</a>
        </li>
        {#<li class="breadcrumb-item active">Blank Page</li>#}
    </ol>
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header">
                    <h2>
                        <i class="fa fa-users"></i>{{ 'notifications.list_title'|trans({},'label', 'fr') }}
                        <a class="add-entity" href="{{ path('admin_notification_create')}}" title="{{ 'button.add'|trans({},'label', 'fr') }}"><i class="fa fa-plus-circle"></i>{{ 'button.add'|trans({},'label', 'fr') }}</a>
                    </h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">

                        <table class="table table-bordered dataTable" id="dataTable" role="grid" aria-describedby="dataTable_info" style="width: 100%;" width="100%" cellspacing="0">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" style="width: 50px;" aria-sort="ascending" aria-label="Id">#</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" style="width: 300px;" aria-sort="ascending" aria-label="Nom">{{ 'notifications.name'|trans({},'label', 'fr') }}</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" style="" aria-label="description">{{ 'notifications.description'|trans({},'label', 'fr') }}</th>
                                <th class="no-sort" tabindex="0" aria-controls="dataTable" style="width: 100px;" aria-label="Action">{{ 'common.table.actions'|trans({},'label', 'fr') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if(list|length > 0) %}
                                {% for  n in list %}
                                    <tr role="row" class="odd">
                                        <td class="sorting_1 text-right">{{ n.id }}</td>
                                        <td>{{ n.name }}</td>
                                        <td>{{ n.description}}</td>
                                        <td class="actions ">
                                            <a href="{{ path('admin_notification_edit',{'id':n.id}) }}"
                                               title="{{ 'button.edit'|trans({},'label', 'fr') }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr role="row" class="odd ">
                                    <td colspan="4" class="text-center ">{{ 'common.table.no_data'|trans({},'label', 'fr') }}</td>

                                </tr>
                            {% endif %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/common/js/datatable/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('/common/js/datatable/dataTables.bootstrap4.js') }}"></script>
    <script type="text/javascript">
        $('#dataTable').DataTable({
            "paging": true,
            "bFilter": false,
            responsive: true,
            "iDisplayLength": 20,
            "bLengthChange": false,
            "lengthMenu": [[10, 20, 50,100], [10, 20, 50,100]],
            "aaSorting": [],
            "language": {
                "lengthMenu": "Affiche _MENU_ elements par page",
                "zeroRecords": "Il n'y a pas des résultats",
                "info": "Page _PAGE_ de _PAGES_",
                "infoEmpty": "Il n'y a pas des résultats",
                "infoFiltered": "(dans _MAX_ éléments)",
                "paginate": {
                    "first": "Premier",
                    "last": "Dernier",
                    "next": "Suivant",
                    "previous": "Précedant"
                },
                "search": "Recherche : "
            },
            "aoColumns": [
                {"width": "50px"},
                {"width": "250px"},
                null,
                {"width": "60px", "targets": 'no-sort', orderable: false}

            ]
        });
    </script>
{% endblock %}